.col-1{
	background-color : red;
}

.col-2{
	background-color : yellow;
}

.col-3{
	background-color : blue;
}

.col-4{
	background-color : green;
}

.col-5{
	background-color : red;
}

.col-6{
	background-color : yellow;
}

.col-7{
	background-color : red;
}

.col-8{
	background-color : yellow;
}

.col-9{
	background-color : blue;
}

.col-10{
	background-color : green;
}

.col-11{
	background-color : red;
}

.col-12{
	background-color : yellow;
}

.offset-1{
	background-color : red;
}

.offset-2{
	background-color : yellow;
}

.offset-3{
	background-color : blue;
}

.offset-4{
	background-color : green;
}

.offset-5{
	background-color : red;
}

.offset-6{
	background-color : yellow;
}

.offset-7{
	background-color : red;
}

.offset-8{
	background-color : yellow;
}

.offset-9{
	background-color : blue;
}

.offset-10{
	background-color : green;
}

.offset-11{
	background-color : red;
}

.offset-12{
	background-color : yellow;
}